@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.about {
  font-family: "Roboto";
  padding-inline: 4%;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}

 .about-us {
  width: 100%;
  height: 100%;
}



.about-us p{
width: 35rem;
height: 11.5rem;
/* margin-left: 3%; */
opacity: 0px;
font-family: "Roboto";
color: rgb(130, 130, 130);
font-size: 1.25rem;
font-weight: 500;
line-height: 2.1rem;
letter-spacing: 0.01rem;
text-align: left;
}

.about-us h1{
color: rgb(0, 0, 0);
font-family: "Roboto";
font-size: 2rem;
font-weight: 600;
line-height: 1.88rem;
letter-spacing: 0.01rem;
text-align: left;
width: 14rem;
height: 2.25rem;
/* margin-left: 3%; */
margin-top: 5.5rem;
}

.about-menu {

  display: flex;
  flex-wrap: nowrap;
  gap: 10%;
}

.hamburger {
  width: 35%;
  border-radius: 20px;
  position: absolute;
  top: 25%; 
  left: 77%;
  transform: rotate(69deg);
  animation: movieUp  2s infinite alternate;
}

.pizza{
  width: 35%;
  border-radius: 20px;
  position: absolute;
  transform: rotate(69deg);
  top: -2.5rem;
  left: 32%;
  animation: movieUp  2s infinite alternate
}

.soup{
  width: 35%;
  border-radius: 20px;
  position: absolute;
  transform: rotate(69deg);
  left: 1rem;
  top: 11rem;
  animation: movieUp  2s infinite alternate
}

.coffee{
  width: 35%;
  border-radius: 20px;
  position: absolute;
  transform: rotate(69deg);
  left: -2rem;
  top: -6rem;
  animation: movieUp  2s infinite alternate;
}

.about-background {
position: absolute;
width: 39%;
height: 20rem;
top: 40%;
left: 56%;
transform: rotate(-67.93deg);
border-radius: 5rem;
box-shadow: 0rem 0.19rem 0.5rem -0.13rem rgba(0, 0, 0, 0.2);
background: rgb(255, 182, 79);
}

.pizza, .soup, .coffee {
  position: relative;
}

@keyframes movieUp  {
  to {
    transform: rotate(69deg) translateX(10px) translateY(10px);
  }
}


  
  @media (max-width: 431px) {
    .about-container {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 1rem;
      margin-bottom: 5rem;
      /* overflow-y: auto; */
    }
  
    .about-us {
      width: 100%;
      height: auto;
    }
  
    .about-us h1 {
      font-size: 1.7rem;
      width: auto;
      margin-top: 1rem;
      text-align: center;
      margin-left:-6rem;
      margin-bottom: 0;
    }
  
    .about-us p {
      width: 90%;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: 0.9rem;
    }
  
    .about-menu {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .soup{
      width: 70%;
      position: relative;
      top: -21rem;
      left: 11%;
      transform: none;
      animation: none;
      margin-bottom: 1rem;
    }
    .hamburger{
      width: 70%;
      position: relative;
      top: 17rem;
      left: 0rem;
      transform: none;
      animation: none;
      margin-bottom: 1rem;
    }

    .pizza,.coffee{
      visibility:hidden;
    }
  
    .about-background {
      width: 83%;
      height: 55%;
      top: 26rem;
      left: 2rem;
      transform: none;
      border-radius: 6.25rem;
      box-shadow: none;
      background: rgb(255, 182, 79);
      margin: 2rem 0;
    }
  }
  

  