@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.deleteModal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    /* z-index: 999; */
    display: flex;
    align-items: center;
    justify-content: center;
}





.deleteModal-container {
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* margin-bottom: 20px; */
    padding: 15px 25px 40px 27px;
    /* z-index: 1000; */
    /* max-width: 25%; */
    width: 30%;
    flex-direction: column;
    /* align-items: center; */

}


.textDelete-modal h1 {
    color: #000;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.textDelete-modal p {
    width: 100%;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    /* margin-left: 80px; */
    /* transform: translateX(5em); */

}


.modal-cancel-button {
    background-color: #FFF;
    border: 2px solid #BDBDBD;
    border-radius: 4px;
    padding: 5px 35px;
    font-family: Roboto;
    font-size: 16px;
    color: #BDBDBD;
}


.modal-cancel-button:hover{
    box-shadow: 7px 7px 7px rgb(189, 189, 189,0.5);
}

.modal-delete-button {
    background-color: #D63626;
    border: 1px solid #D63626;
    border-radius: 4px;
    padding: 5px 35px;
    font-family: Roboto;
    font-size: 16px;
    color: #FFF;

}

.modal-delete-button:hover{
    box-shadow: 7px 7px 7px rgb(235, 87, 87, 0.5);
}

.deleteModal-buttons {
    /* width: 75%; */
    display: flex;
    justify-content: center;
    gap: 30px;

    


}

@media only screen and (max-width: 431px) {
    .deleteModal-container {
        width: 70%;
        /* padding: 15px 30px 40px 32px; */
        padding-inline: 10%;
        
    }

    .textDelete-modal{
        width: 100%;
    }

    .textDelete-modal h1 {
        font-size: 20px;
    }

    .textDelete-modal p {
        font-size: 16px;
        width: 100%;
    }


    .deleteModal-buttons {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .modal-cancel-button{
        height: 38px;
    }

    .modal-delete-button{
        height: 38px;
    }
}