@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.faq-container {
    width: 80%;
    margin: 0 auto;
    text-align: center; 
    margin-bottom: 4rem;
  }
  
  .faq-container h1 {
color: rgb(0, 0, 0);
font-family: "Roboto";
font-size: 2.81rem;
font-weight: 500;
line-height: 1.88rem;
letter-spacing: 0.01rem;
text-align: center;
    
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    text-align: left; 
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 0rem 0.19rem 0.5rem -0.13rem rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255);
    height: 4.5rem;
    position: relative;

  }
  
  .faq-question h2 {
    color: rgb(0, 0, 0);
    font-family: "Roboto";
    font-size: 1.38rem;
    font-weight: 500;
    line-height: 1.88rem;
    letter-spacing: 0.01rem;
    text-align: left;
    margin-left: 2%;
  }
  
  .faq-question span {
    font-size: 1.5rem;
    margin-right: 3%;
    color: rgba(50, 50, 50, 1);
   font-weight: bolder;

  }

  .faq-question:hover {
    box-shadow: 0 0 20px rgba(0, 255, 0, 1);
    border-color: rgba(0, 255, 0, 0.8);
  }
  
  .answer {
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    max-height: 0;
    opacity: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0rem 0.19rem 0.5rem -0.13rem rgba(0, 0, 0, 0.2)

  }
  
  .answer.show {
    max-height: 500px; 
    opacity: 1;
  }
  
  .faq-answer {
    width: 67%;
    margin-left: 2%;
    font-family: "Roboto";
    left: 12rem;
    top: 24.5rem;
    color: rgba(130, 130, 130, 1);
    font-weight: 500;
  }
  

  .faq-question::before,
  .faq-question::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    box-sizing: border-box;
    pointer-events: none;
  }
  
  .faq-question::before {
    border-color: rgba(0, 255, 0, 0);
    animation: border-shine 1.5s infinite linear;
  }
  
  @keyframes border-shine {
    0% {
      border-color: rgba(0, 255, 0, 0);
    }
    50% {
      border-color: rgba(0, 255, 0, 1);
    }
    100% {
      border-color: rgba(0, 255, 0, 0);
    }
  }
  @media (max-width:431px){
    .faq-container h1 {
      color: rgb(0, 0, 0);
      font-family: "Roboto";
      font-size: 2.81rem;
      font-weight: 500;
      line-height: 1.88rem;
      letter-spacing: 0.01rem;
      text-align: center;
    }
  
    .answer {
      width: 100%;
      height: 1%;
    }

    .faq-question span{
      font-weight: bolder;
    }
    

  }
  