body {
  padding-inline: 2%;
}

.navBar {
  width: 100%;
  height: 12vh;
  display: flex;

  justify-content: space-between;
  background-color: #f3f4f6;
}

.logoLinks {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgHamburg {
  display: none;
}

.hamburgBtn {
  display: none;
}

.logoBtn {
  border: 0;
  padding: 0;
  background-color: #f3f4f6;
}

.imgLogo {
  width: 100%;
}

.logoLinks ul {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.logoLinks ul li {
  list-style: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.links {
  text-decoration: none;
  font-family: Roboto;
  font-size: 18px;
  color: #828282;
  font-weight: 600;
  text-decoration: none; 
  border-bottom: 2px solid transparent; 
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.links:hover {
  color: #d63626;
}
.activeLinks {
  color: #d63626;
  border-bottom: 2px solid #d63626;
}

.inputBtns {
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-inline: 6%;
}
.inputBtns input {
  width: 40%;
  height: 40%;
  border-radius: 10px;
  border: 0;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.inputBtns input::placeholder {
  color: #828282; 
  font-family: "Roboto"; 
  font-size: 14px; 
}

                                  /* DROPDOWN MENU  FOR SEARCH*/

.inputBtns input[type="text"]:focus {
  outline: none;
  border: 1px solid #888;
}
/* Dropdown menu style */
.search-dropdown {
  position: absolute;
  top: 80px; 
  left: 47%;
  /* width: 390px; */
  width: 29%;
  background-color: white;
  border: 1px solid #F7F6FC;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: auto;
  max-height: 300px;
  overflow-y: auto; 
  display: none; 
  z-index: 1;
}

/* Dropdown menu ul*/
.search-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.search-dropdown ul a{
  text-decoration: none;
}

.search-dropdown li {
  padding: 5px;
  height: 50px;
  border-bottom:  1px solid #F7F6FC;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.search-dropdown li:hover {
  background-color: #f5f5f5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

/* when active show dropdown */
.show {
  display: block !important;
}
.restaurant-item {
  display: flex;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restaurant-item:hover {
  background-color: #f5f5f5;
}

.restaurant-item figure{
  width: 70px;
  height: 40px;
  border-radius: 10%;
  margin-left: 20px;
}
/* Restoran logo */
.restaurant-logo {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Restoran ismi ve açıklamasının olduğu alan */
.restaurant-info {
  display: flex;
  flex-direction: column;
}

.restaurant-name {
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto";
  margin: 0;
}

.restaurant-description {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.moreLinkStyle, .moreLinkLess{
  display: flex;
  align-items: center;
  justify-content: center;
}
.moreLink{
  border-style: none;
  background-color: inherit;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
  /* margin-right: 10px; */
  color: #d63626;
  cursor: pointer;
  /* transition: 1s ease-in; */
}
.moreLink:hover{
  font-size: 16px;
}

/* Scroll hide and show */
.hide-scroll {
  overflow: hidden;
}

.show-scroll {
  overflow: auto; 
}


                                /* LANG DROPDOWN */
.langBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.imgLangBtn {
  width: 100%;
}
.basketBtn {
  border: 0;
  width: 50px;
  height: 50px;
  padding: 0;
}

.imgBasketBtn {
  width: 100%;
}

.linkSign {
  width: 30%;
  height: 48%;
}

.btnSignUp {
  width: 100%;
  /* height: 100%; */
  height: 35px;
  border-radius: 30px;
  background-color: #d63626;
  border: 0;
  color: white;
  cursor: pointer;
  transition-duration: 1s;   
}
.btnSignUp:hover{
  background-color: #b1281b; 
}

.adminBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
  background-color: #f178b6;
  border: 0;
}

.profileImages {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -14%;
  bottom: 4%;
}



.userName{
  font-size: 15px;
  color:red;
}
.dropdownMenu ul {
  padding: 0; 
}

.dropdownMenu ul h1 {
  margin: 0; 
  /* padding-bottom: 0px;  */
  margin-left: 3px;
  margin-top: 0px;
}

.dropdownMenu ul li {
  margin-top: 0; 
  padding: 5px 0; 
}

/* .dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
}
.profile:hover .dropdownMenu {
  display: block;
} */
.dropdownMenu {
  background-color: #fff;
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
  width: 130px;
  height: 234px;
  position: absolute;
  z-index: 9;
  right: 0px;
  top: 11%;
}
.dropdownMenu ul {
  margin-top: 30px;
  padding: 7%;
  text-align: left;
}
.dropdownMenu ul li {
  list-style: none;
  margin-bottom: 7px;
  border-bottom: 1px solid #f3f4f6;
  padding: 0 5px;
  text-align: left;
}
.dropdownMenu ul li:last-child {
  border-bottom: none;
}
.dropdownMenu ul li a {
  text-decoration: none;
  color: #000;
  font-family: "Roboto";
  font-size: 15px;
}

.langDropdownMenu {
  position: absolute;
  margin-top: 5px;
  z-index: 999;
  width: 3%;
}

.langDropdownMenu ul {
  padding: 0;
  background-color: white;
}

.langDropdownMenu ul li {
  list-style: none;
  margin-top: 10px;
}

.langDropdownMenu ul li button {
  border: 0;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

.navRespons {
  display: none;
  position: absolute;
  width: 100%;
  /* height: 100%; */
  background-color: white;
  padding: 10px;
}

.closeHamburger {
  border: 0;
  background-color: white;
  font-size: 25px;
  font-weight: 600;
}

.resSignUpBtn {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.resSignUpBtn button {
  background-color: #d63626;
  width: 40%;
  height: 25%;
  border-radius: 25px;
  border: 0;
  color: white;
  font-size: 22px;
}

.navRespons ul {
  padding: 5%;
}

.navRespons ul li {
  list-style: none;
  margin-bottom: 15px;
}

.responsLink {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #828282;
}
@media only screen and (max-width: 431px) {
  body {
    padding-inline: 0;
    margin: 0;
  }

  .navBar {
    width: 100%;
  }

  .logoLinks {
    width: 45%;
  }

  .imgLogo {
    width: 60%;
    height: 36%;
  }

  .imgHamburg {
    display: block;
    width: 80%;
    height: 80%;
  }

  .logoLinks ul {
    display: none;
  }

  .inputBtns {
    width: 25%;
  }

  .inputBtns input {
    display: none;
  }

  .hamburgBtn {
    display: block;
    width: 50px;
    height: 40px;
    border: 0;
  }

  .inpSignUp {
    display: none;
  }

  .linkSign {
    display: none;
    height: 20%;
    width: 20%;
  }

  .linkSignRes {
    width: 40%;
    height: 25%;
    border-radius: 30px;
    display: block;
    align-self: center;
  }
  

  .btnSignUpRes {
    width: 100% !important;
    height: 100% !important;
    transform: translateX(-20px);
  }

  .linkBasket {
    display: none;
  }

  .adminBtn {
    display: none;
  }

  .adminRes {
    padding: 0 !important;
  }

  .logoutLink {
    margin-top: 20%;
  }

  .aboutClient {
    width: 75%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .imgClient {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .nameClient {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
  }
}
