body {
  padding-inline: 2%;
}

.navBar {
  width: 100%;
  height: 12vh;
  display: flex;

  justify-content: space-between;
  background-color: #f3f4f6;
}

.logoLinks {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgHamburg {
  display: none;
}

.imgLogo {
  width: 10%;
}

.logoLinks ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.logoLinks ul li {
  list-style: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.inputBtns {
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputBtns input {
  width: 38%;
  height: 28%;
  border-radius: 10px;
}

.langBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aqua;
}

.inpSignUp {
  width: 17%;
  height: 38%;
  border-radius: 15px;
  background-color: #d63626;
  border: 0;
  color: white;
}

/* .dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
}
.profile:hover .dropdownMenu {
  display: block;
} */
.dropdownMenu {
  background-color: #fff;
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
  width: 158px;
  height: 234px;
  position: absolute;
}
.dropdownMenu ul {
  margin-top: 30px;
  padding: 7%;
  text-align: left;
}
.dropdownMenu ul li {
  list-style: none;
  margin-bottom: 18px;
  border-bottom: 1px solid #f3f4f6;
  padding: 0 5px;
  text-align: left;
}
.dropdownMenu ul li:last-child {
  border-bottom: none;
}
.dropdownMenu ul li a {
  text-decoration: none;
  color: #000;
  font-family: "Roboto";
}

@media only screen and (max-width: 431px) {
  body {
    padding-inline: 0;
    margin: 0;
  }

  .navBar {
    width: 100%;
  }

  .logoLinks {
    width: 45%;
  }

  .imgLogo {
    width: 60%;
    height: 36%;
  }

  .imgHamburg {
    display: block;
    width: 80%;
    height: 80%;
  }

  .logoLinks ul {
    display: none;
  }

  .inputBtns {
    width: 25%;
  }

  .inputBtns input {
    display: none;
  }

  .hamburgBtn {
    width: 50px;
    height: 40px;
    border: 0;
  }

  .inpSignUp {
    display: none;
  }
}
