.div1 {
    background-color: black;
    width: 50%;
    position: relative;
    border-radius: 10%;
    margin-right: 10%;
}

.div5 {
    position: relative;
}

.burger {
    width: 100%;
    height: auto;
    margin-top: 15%;
    position: relative;
    z-index: 1;
}

.div2, .div3, .div4 {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 15%;
    border-radius: 20%;
    animation: moveUpDown 8s infinite alternate;
}

.div2 {
    top: 90%;
    left: -15%;
    border-radius: 10%;
}

.div3 {
    top: 10%;
    left: 75%;
    border-radius: 10%;
}

.div4 {
    top: 90%;
    left: 80%;
    border-radius: 10%;
}

.div2 img, .div3 img, .div4 img {
    width: 95px;
    height: 100%;
    opacity: 1;
top: 497px;
left: 657px;
gap: 0px;
border-radius: 10px;
opacity: 0px;
}

.div2 p, .div3 p, .div4 p {
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: black;
    font-family: Mukta;
    font-size: 15px;
    font-weight: 500;
}

.div3 p{
    padding-top: 7%;
}

.all {
    display: flex;
    background-color: rgba(243, 244, 246, 1); 
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.all1{
    margin-left: 5%;
}

.info p {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 50%;
}

.info h1 {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 70%;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.register{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    opacity: 0px; 
    background-color: red;
    border: none;
    font-family: Roboto;
font-size: 25px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(255, 255, 255, 1);

}

.order{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    opacity: 0px;
    margin-left: 3%;
    font-family: Roboto;
font-size: 25px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(130, 130, 130, 1);

}

.h1{
    font-family: Roboto;
font-size: 40px;
font-weight: 900;
line-height: 70px;
letter-spacing: 0.03em;
text-align: center;
margin-top: 10%;



}

.h3{
    font-family: Roboto;
font-size: 22px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: center;
width: 780px;
height: 105px;
margin-left: 20%;

}

.container{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
}

.card1, .card2, .card3{
    border: solid;
    border-width: 1px ;
    box-shadow:  0 4px 10px  ;
    width: 20%;

}

.card1 img, .card2 img, .card3 img{
    width: 80%;

}

.card2 img{
    width: 70%;
    margin-left: 13%;
}

.card2 h2{
    margin-top: 1%;
}

.card1 h2, .card2 h2, .card3 h2{
    text-align: center;
}

.card1 p, .card2 p, .card3 p{
    font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: center;
}

.main1{
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
}

.main1 img{
    width: 90%
}

.txt1{
    width: 60%
}

.main1 h1{
    font-family: Roboto;
font-size: 50px;
font-weight: 900;
line-height: 70px;
letter-spacing: 0.03em;
text-align: left;

}

.main1 p{
    font-family: Roboto;
font-size: 22px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;

}

.main2{
    display: flex;
    margin-left: 10%;margin-top: 10%;
}

.txt2{
    width: 40%;
    margin-left: 10%;
}

.txt2 h1{
    font-family: Roboto;
font-size: 50px;
font-weight: 900;
line-height: 70px;
letter-spacing: 0.03em;
text-align: left;

}

.txt2 p{
    font-family: Roboto;
font-size: 22px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;

}


.main3{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 10%;

}

.txt3{
    width: 40%;
}

.txt3 h1{
    font-family: Roboto;
font-size: 50px;
font-weight: 900;
line-height: 70px;
letter-spacing: 0.03em;
text-align: left;

}

.txt3 p{
    font-family: Roboto;
font-size: 22px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
}

.main3 img{
    margin-left: 15%;


}
.main3 .imgcontainer {
    margin-left: 15%;;
    padding: 20px; 
    display: inline-block;  
    border-radius: 10px; 
    position: relative;
}

.imgcontainer img{
    margin-left: 10% ;
    width: 90%;

}

.rec{
    position: absolute;
    z-index: 1;
}

.pop{
    width: 30%;
    height: 68px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: 40%;
    margin-top: 5%;
}

.txt{
    width: 60%;
    height: 10%px;
    font-family: Roboto;
    font-size: 22px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: center;
margin-left: 25%;
margin-top: 3%;

}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards1, .cards2, .cards3{
    width: 20%;
    height: 30%;
    border: solid;
    border-width: 1px ;
    box-shadow:  0 4px 10px  ;



}

.cards1 img, .cards2 img{
    width: 70%;
    margin-left: 10%;
    margin-top: 5%;
}

.cards3 img{
    width: 85%;
    margin-top: 9%;
    margin-left: 8%;
}

.cards1 h2, .cards2 h2, .cards3 h2{
    text-align: center;
    font-family: Roboto;
font-size: 30px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0.03em;
color: rgba(79, 79, 79, 1);
}


.cards1 p, .cards2 p, .cards3 p{
    font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: center;
width: 90%;
color: rgba(130, 130, 130, 1);
margin-left: 5%;


}
