@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

.allContainer{
  width: 100%;
}
.firstPart-headerContainer{
  background-color: #f3f4f6;
  height: 730px;
  padding-inline: 4%;
}
.firstPart-header {
  display: flex;
  /* margin-left: 50px;  */
  transform: translateY(80px);  
}
.leftSide-info {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  /* margin-right: -50px; */
  
}
.leftSide-info h1 {
  width: 13em;
  color: #181617;
  font-weight: 900;
  letter-spacing: 1.8px;
  font-size: 3.3rem;
  font-family: "Roboto";
  line-height: 70px;
}
.leftSide-info p {
  margin-top: -0.5em;
  width: 24em;
  color: #828282;
  font-weight: 400;
  font-family: Roboto;
  font-size: 1.1rem;
  letter-spacing: 0.66px;
  line-height: 30px;
  margin-bottom: 60px;
}
.regor{
  margin-top: -20px;
}
.register {
  color: #fff;
  background-color: #d63626;
  border-radius: 1.8rem;
  width: 8.1em;
  height: 2.8em;
  border: none;
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-right: 50px;
}
.order {
  color: #828282;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  width: 8.1em;
  height: 2.8em;
  border: 2px solid #828282;
  border-radius: 1.8rem;
  background-color: #f2f2f2;
  font-family: "Roboto";
}
.blackBackground-image {
  transform: translateX(-10%);
  width: 30em;
  height: 26.7em;
  background-color: #181617;
  border-radius: 80px;
  position: relative;
  margin-top: 20px;
}
.blackBackground-image img {
  margin-top: -50px;
  margin-left: -60px;
  width: 38em;
  height: 31.9em;
}
.animationContainer1,
.animationContainer2,
.animationContainer3 {
  position: absolute;
  /* z-index: 2; */
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 17.3em;
  height: 5.6em;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  animation: moveUpDown 8s infinite alternate;
}
.animationContainer1 {
  top: -5%;
  left: 60%;
  border-radius: 13px;
}
.animationContainer2 {
  top: 63%;
  left: -25%;
  border-radius: 13px;
}

.animationContainer3 {
  top: 90%;
  left: 55%;
  border-radius: 13px;
}
.animationContainer1 p{
  width: 7.7em;
  height: 2.6em;
  color: #4f4f4f;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.48px;
  font-weight: 500;
  font-family: "Mukta";
  line-height: 24px;
  margin-left: -40px;
}
.animationContainer2 p,
.animationContainer3 p {
  width: 8.5em;
  height: 2.6em;
  color: #4f4f4f;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.48px;
  font-weight: 500;
  font-family: "Mukta";
  line-height: 24px;
  margin-left: -40px;
}
.animation-figure {
  width: 4.3em;
  height: 3.1em;
  margin-left: 18px;
}
.animation-figure img {
  width: 100%;
  height: 100%;
  border-radius: 6.2em;
  margin: 0;
  object-fit: fill;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}


.features {
  color: #181617;
  font-family: "Roboto";
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 1.2px;
  text-align: center;
  margin-top: 3.1em;
}
.divFeaturesTxt {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: -40px;
}
.featurestXT {
  width: 780px;
  height: 95px;
}
.featurestXT p {
  color: #828282;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: center;
}



.containerHome-card {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  margin-bottom: 20em;
  /* margin-left: 5%; */
}

.homecard1,
.homecard2,
.homecard3 {
  width: 20.4em;
  height: 24.1em;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.homecard1 img{
  width: 14.9em;
  height: 13.9em;
  margin-left: 13%;
}
.homecard2 img {
  width: 13.5em;
  margin-left: 15%;
}
.homecard3 img {
  width: 14em;
  height: 13em;
  margin-left: 15%;
}
.homecard1 h2,
.homecard2 h2,
.homecard3 h2 {
  text-align: center;
  color: #4F4F4F;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.9px;
  margin-top: -5px;
}

.homecard1 p,
.homecard2 p,
.homecard3 p {
  color: #828282;
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: -5px;
  padding-inline: 10px;
}



.main1 {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.main1 img {
  width: 100%;
}

.txt1 {
  width: 29%;
}

.main1 h1 {
  font-family: Roboto;
  font-size: 45px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.03em;
}

.main1 p {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(130, 130, 130, 1);
}

.main2 {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.txt2 {
  width: 30%;
}

.txt2 h1 {
  font-family: Roboto;
  font-size: 45px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 0.03em;
  text-align: left;
}

.txt2 p {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(130, 130, 130, 1);
}

.main3 {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.txt3 {
  width: 31%;
}

.txt3 h1 {
  font-family: Roboto;
  font-size: 45px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 0.03em;
}

.txt3 p {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(130, 130, 130, 1);
}

.main3 .imgcontainer {
  width: 40%;
  display: inline-block;
  border-radius: 10px;
  position: relative;
}

.imgcontainer img {
  width: 100%;
}

.rec {
  position: absolute;
  z-index: 1;
}


.ourPopular {
  width: 100%;
  display: flex;
  justify-content: center;
}
.divPop {
  width: 24.6em;
  text-align: center;
}
.pop {
  font-family: "Roboto";
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0.03em;
  margin-top: 4em;
}
.mainDivPopTxt {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.divPopTxt {
  width: 48.7em;
  height: 6.5em;
}
.txt {
  color: #828282;
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0.2em;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.cards1,
.cards2,
.cards3 {
  width: 20.4em;
  height: 24.1em;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 10em;
}
.cards1 img,
.cards2 img {
  width: 14.9em;
  height: 13.9em;
  margin-left: 10%;
}
.cards3 img {
  width: 85%;
  margin-top: 1em;
  margin-left: 8%;
}

.cards1 h2,
.cards2 h2,
.cards3 h2 {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0.03em;
  color: #4F4F4F;
  margin-top: -10px;
}

.cards1 p,
.cards2 p,
.cards3 p {
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 17em;
  height: 6.5em;
  color: #828282;
  margin-left: 5%;
  margin-top: -30px;
}

.finish {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #272727;
  border-radius: 3.1em;
  width: 66em;
  margin-left: 10%;
  height: 23.23em;
  border-radius: 40px;
  transform: translateY(7em);
}

.finish img {
  width: 60%;
  margin-top: 10%;
  margin-left: 5%;
}

.finish h1 {
  color: rgba(255, 255, 255, 1);
  width: 12em;
  font-family: "Roboto";
  font-size: 3.1rem;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-left: -11%;
  margin-bottom: 10%;
}

.end {
  height: 80%;
  transform: translateY(2em);
  display: flex;
  flex-direction: column;
}

.end button {
  color: white;
  background-color: #fb9300;
  width: 13.75em;
  height: 3.75em;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  letter-spacing: 0.6px;
  font-size: 1.25rem;
  font-family: "Roboto";
  margin-left: 14.5%;
  transform: translateY(-1em)
}
.end button:hover{
  cursor: pointer;
  background-color: #fb7100;
}
.son1img{
  transform: translateY(6em) translateX(3em);
}
.sonimg {
  transform: translateY(6em) translateX(-6em);
  margin-right: -15%;
}


@media only screen and (max-width: 431px) {
  .all {
    flex-direction: column-reverse;
    align-items: center;
    width: 100% !important;
    margin-bottom: 10%;
  }

  .div3,
  .div4 {
    display: none;
  }

  .div2 {
    margin-left: 60%;
    margin-top: -50%;
    width: 50%;
    height: 20%;
  }

  .div2 img {
    width: 35%;
    height: 75%;
  }

  .div2 p {
    font-family: "Mukta";
    font-size: 150%;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .info h1 {
    font-family: "Roboto";
    font-size: 200%;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0.03em;
    text-align: center;
    width: 100%;
    height: 90px;
    top: 16002px;
  }

  .info p {
    display: none;
  }

  .div1 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    background-color: rgba(242, 242, 242, 1);
  }

  .register,
  .order {
    width: 80%;
    margin: 10px 0;
  }

  .regor {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
  }

  .features {
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-align: center;
    }

  .featurestXT {
    width: 90%;
  }

  .featurestXT p {
    margin: 0;
  }

  .h3 {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.03em;
    text-align: center;
    width: 291px;
    height: 250px;
  }

  .container {
    width: 100%;
    flex-wrap: wrap;
    margin-left: 0;

    margin-top: 10%;
  }

  .homecard1,
  .homecard2,
  .homecard3 {
    width: 80%;
    margin-bottom: 50px;
    margin-top: -1%;
    margin-left: 0;
  }

  .homecard2 h2 {
    color: rgba(79, 79, 79, 1);
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .homecard1 p,
  .homecard2 p,
  .homecard3 p {
    font-family: "Roboto";
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: center;
  }


  .main1 {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }

  .txt1 {
    width: 75%;
  }

  .main2 {
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 15%;
  }
  .main3 {
    display: none;
  }

  .main1 h1,
  .main2 h1 {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.07em;
    text-align: center;
    margin-top: 10%;
  }

  .main1 p,
  .main2 p {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .main1 img {
    width: 90%;
    margin-left: 10%;
  }

  .main2 img {
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
  }

  .main2 .txt2 {
    width: 75%;
    margin-left: 12%;
  }

  .main2 h1 {
    width: 100%;
  }

  .main2 p {
    width: 100%;
    margin-left: 1%;
  }

  .imgcontainer {
    width: 90%;
  }

  .ourPopular {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .divPop {
    width: 90%;
  }

  .pop {
    font-family: "Roboto";
    font-size: 35px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: center;
    margin-top: 20%;
  }

  .divPopTxt {
    width: 90%;
  }

  .txt {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(130, 130, 130, 1);
  }

  .cards {
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
    margin-left: 5%;
  }

  .cards3 {
    display: none;
  }
  .cards1,
  .cards2 {
    width: 90%;
    margin-bottom: 20px;
  }

  .cards1 img,
  .cards2 img {
    width: 60%;
    margin-left: 20%;
  }

  .cards1 h2,
  .cards2 h2 {
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .finish img {
    display: none;
  }

  .finish {
    width: 85%;
    height: 25%;
    margin-left: 7%;
    position: absolute;
  }

  .end {
    width: 100%;
  }

  .finish h1 {
    margin-top: 10%;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.03em;
    text-align: center;
    width: 90%;
    width: 80%;
    margin-left: 4%;
    margin-bottom: 3%;
  }

  .finish button {
    width: 60%;
    height: 60%;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: 15%;
  }
} 
