.login-form-container {
  margin-top: 20%;
}
.loginEye {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(-2%, -50%);
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.password-input {
  position: relative;
  width: 180px;
}
.password-input input {
  width: 100%;
}
