@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* CONTAINER PART */

.all-order-component{
    width: 79%; 
    height: 634px;
    background-color: #F3F4F6;
    border-radius: 5px;
    position: relative;
}

.order-container {
    padding-inline: 2%;
   
}

.title-orders h1 {
    color: #4F4F4F;
    font-family: Mukta;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.9px;
    margin: 49px 31px;
}

/*ABOUT TABLE CONTAINER */

.table-container {
    background-color: #FFF;
    margin-inline: 2%;
    width: 97%;
    /* overflow-x: auto; */
    overflow-y: auto;
    max-height: 330px;

}

.table-container::-webkit-scrollbar {
    width: 3px;
    height: 3px;

}

.table-container::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.table-container::-webkit-scrollbar-thumb {
    background: #D63626;

}

.table-container::-webkit-scrollbar-thumb:hover {
    /* background: #464748c8; */
    box-shadow: inset 0 0 6px rgba(171, 177, 241, 0.2);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;

}

.table-container thead th {
    height: 54px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #DFE2E9;
    text-align: center;
}

.table-container tbody td {
    height: 50px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #DFE2E9;
    text-align: center;
}

.orders-address {
    width: 20%;
    font-size: 14px;
    padding: 0;
}


.id-orders p {
    width: 57px;
    height: 24px;
    border: 1px solid #DFE2E9;
    border-radius: 8px;
    margin: auto
}


/*  MENU */

.options-button {
    border: none;
    background: #FFF;
    /* float: right; */
    margin-right: 30px;
    cursor: pointer;
   

}

.options-button-cell {
    width: 10%;
    /* background-color: red; */
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;


 
}

.for-small-screen{
    display: none;
   
}


.drop-down-menu-content {
    position: absolute;
    bottom: -35px;
    right: -35px;
    z-index: 1;
    background-color: #FFF;
    box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.20);
    text-align: left;
    width: 79px;
    /* height: 47px; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* padding: 5px 0;  */

}



.show-setting,
.delete-setting {
    width: 100%;
    text-align: left;
    margin-left: 15px !important;
    margin: 0;
    padding: 5px 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}


.show-setting {
    color: #6FCF97;

}

.delete-setting {
    color: #EB5757;

}



/* PAGINATION */



.pagination-order {
    width: 91.5%;
    /* position: absolute; 
    left: 21.4%;
    top: calc(29% + 450px + 10px);  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
    position: absolute;
    bottom: 60px;
    left: 5%;
}

.currentpage-order {
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #FFFFFF;
    border: 2px solid #FCDDEC;
    border-radius: 2px;
    color: #BB6BD9;
    font-family: Arial, Helvetica, sans-serif;
}

.slash-order {
    color: #FCDDEC;
    font-size: 17px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.total-pages-order {
    color: #828282;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.prev-button-order,
.next-button-order {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    border-radius: 10px;
    border: 2px solid #FCDDEC;
    background-color: #FFFFFF;
    cursor: pointer;
}

.next-button-order {
    margin-left: 10px;

}



.select-container-order {
    position: relative;
    display: inline-block;
    width: 60px;
}

.custom-select-order {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #FFF;
    border: 1px solid #B0BAC9;
    color: #00072B;
    font-size: 16px;
    border-radius: 2px;
    /* width: 100%; */
    height: 32px;
    padding: 5px 30px 5px 10px;
    cursor: pointer;
}

.custom-select-order:focus {
    outline: none;
    border-color: #BB6BD9;
}

.custom-select-order option {
    background-color: #FFF;
    color: #00072B;
}

.select-arrow-order {
    position: absolute;
    top: 50%;
    right: 10px;
    pointer-events: none;
    transform: translateY(-50%);
    color: #768193;
    font-size: 8px;
}


/* RESPONSIVE CSS */



@media screen and (max-width: 431px) {
    .all-order-component{
        width: 100%;
        background-color: #FFFFFF;
    }

    /* .orderContainer{
        width: 100% ;
    } */
    .table-container table{
        /* width: 100%; */
        min-width: 1000px;
        overflow-x: auto;
        border-radius: 3px;
       
    }

    .for-small-screen{
        display: block;
        position: relative !important;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 35px; */
    }


    .options-button-cell{
       display: none;
    }

  
}