@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.profile-container {
    width: 79%;
    height: 634px;
    background-color: #F3F4F6;
    border-radius: 5px;
}
.Profile-title {
    transform: translateY(1.2em);
    margin-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 550;
    padding-inline: 2%;
    color: #4f4f4f;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.upload-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.upload {
    width: 9rem;
    height: 8rem;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #929292;
    cursor: pointer;
}

.upload-title {
    margin-top: -1px;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 500;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    width: 97%;
    margin-left: 3%;
    flex-wrap: wrap;
}

.form-group {
    flex: 1 1 48%;
    display: flex;
    flex-direction: column;
}

.label-box {
    margin-bottom: 5px;
    font-size: 14px;
    font-family: "Mukta";
    font-weight: 700;
    color: #666666;
}

.input-box {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    width: 90%;
}

.save-btn {
    background-color: #6FCF97;
    color: #ffffff;
    padding: 10px;
    width: 93.5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
    font-size: 23px;
    font-weight: 600;
    font-family: "Mukta";
    margin-top: 29px;
}

@media (max-width: 431px) {
    .profile-container {
        background-color: white;
        margin-bottom: 20rem;
        width: 100%;
    }

    .profile-form {
        align-items: center;
    }

    .input-box {
        background-color: #F3F4F6;
        height: 40px;
        margin: 0 auto;
    }

    .form-row {
        width: 100%;
        margin-left: 10px;
    }

    .label-box {
        margin-left: 15px;
    }

    .upload-container {
        margin-top: 2rem;
    }

    .upload {
        background-color: #F3F4F6;
    }

    .profile-form {
        width: auto
    }

    .form-row {
        width: 100%;
    }

    .form-group {
        flex: 1 1 100%;
        margin-top: 20px;
        width: 80%;
    }

    .save-btn {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}