@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.register-form-container {
    display: flex;
    margin-top: 2%;
}

.register-image {
    width: 50%;
    height: 52.5rem;
    border-radius: 4px;
    background: var(--Red, #EB5757);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.register-image img {
    width: 79%;
    height: auto;
    padding-left: 6.875em;
    padding-top: 4.375em;
}

.register-form {
    width: 45%;
    padding-inline: 2%;
    margin-top: 5%;
    transform: translateX(1.5em);
}

.register-buttons {
    margin-bottom: 65px;
    gap: 66px;
    display: flex;
    justify-content: center;
    margin-left: 8%;
}

.login-box-btnSwitch {
    color: var(--Gray-3, #828282);
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    border: none;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.9px;
}

.register-box-btnswitch {
    color: var(--Red, #EB5757);
    font-size: 30px;
    font-family: Roboto;
    font-weight: 500;
    border: none;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.9px;

}

.fullName-container-register,
.username-container-register,
.email-container-register,
.password-container-register {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.username-container-register,
.email-container-register,
.password-container-register {
    margin-top: 30px;
}

.fullName-container-register label,
.username-container-register label,
.email-container-register label,
.password-container-register label {
    color: #4f4f4f;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.6px;
}

.fullName-input-register input,
.username-input-register input,
.email-input-register input,
.register-password-input input {
    width: 96%;
    border: none;
    border-radius: 5px;
    background-color: #FFE7E7;
    padding: 25px 10px;
}

.fullName-input-register ::placeholder,
.username-input-register ::placeholder,
.email-input-register ::placeholder {
    color: var(--Gray-2, #4F4F4F);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.54px;
    padding-left: 15px;
}

.register-password-input ::placeholder {
    color: var(--Gray-2, #4F4F4F);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.54px;
    padding-left: 15px;
}

.register-password-input {
    position: relative;
}

.loginEye {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-2%, -50%);
    height: 32px;
    width: 28px;
    cursor: pointer;
}

.register-submit-button {
    border: none;
    background-color: #EB5757;
    width: 100%;
    padding: 20px 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.66px;
    border-radius: 5px;

}

@media screen and (max-width: 431px) {
    .register-form-container {
        display: flex;
        margin-top: 0%;
        flex-direction: column;
      
    }

    .register-image {
        width: 90%;
        margin-left: 6%;
        margin-top: 5%;
        height: 190px;
        padding-top: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .register-image img {
        width: 42%;
        height: auto;
        padding-left: 0;
        padding-top: 0;
    }

    .register-form {
        width: 90%;
        padding-inline: 0%;
        margin-top: 12%;

    }

    .register-buttons {
        margin-bottom: 17%;
        gap: 34px;
        display: flex;
        justify-content: center;
        margin-left: 0%;
    }

    .login-box-btnSwitch,
    .register-box-btnswitch {
        font-size: 25px;
    }

    .fullName-container-register label,
    .username-container-register label,
    .email-container-register label,
    .password-container-register label {
        font-size: 18px;
    }

    .register-submit-button {
        margin-top: 12%;
    }

    .fullName-input-register input,
    .username-input-register input,
    .email-input-register input,
    .register-password-input input {
        width: 96%;
        border: none;
        padding: 23px 10px;
    }

    .fullName-input-register ::placeholder,
    .username-input-register ::placeholder,
    .email-input-register ::placeholder,
    .register-password-input ::placeholder {
        font-size: 18px;
        padding-left: 0px;
    }


}