@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


.main{
  display: flex;
 flex-direction: row;
  font-family: Roboto;

}

.restaurant_sidebar{
  width: auto;
}                                                                    /* Section (Sidebar) */
.restaurant_body{
    display: block;
    width: 120%;
    height:auto;
    margin-right: 10%;
    background-color: rgba(243, 244, 246, 1);
    overflow-y:scroll;
    margin-top: 12%;
}
.restaurant_body::-webkit-scrollbar {
  width: 4px;
  background: red;
  border-radius: 6px;
}


.restaurant_side{
display: flex;
flex-direction: row;

}
.restaurant_side:hover{
  background-color: rgba(214, 54, 38, 0.12);

}
.image{
    width: 40px;
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.restaurant_side span{
font-family: Mukta;
font-size: 20px;
font-weight: 600;
margin-left: 20px;
margin-top: 25px;
}
.restaurant_side span:hover{
  color:rgba(214, 54, 38, 1);

}
.sidebar-toggle {
  display: flex;
  flex-direction: row;
  display: none;
  background-color: rgba(243, 244, 246, 1);
  font-family: Mukta;
  color:black;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.sidebar-toggle p{
  margin-left: 10%;
  margin-top: -1%;
}

                                                          /* Section (Restaurant) */
.restaurantCards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin-top: 1.9%;
}

.restaurantCards a {
  text-decoration: none;
}

.restaurants_card{
  background-color:rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width:auto;
  height: auto;
  margin-left: 30%;

}
.restaurant_cardImage{
  width: 50%;
  margin-left: 26%;
}
.restaurant_cardImage img {
  width: 100%;
  height: 100%;
  margin-top: 15%;
  object-fit: fill;

}
.restaurants_Info{
  display: flex;
  flex-direction: column;

}
.restaurants_Info h2{
  margin-left: 15px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
 
}

.restaurants_Info p{
color: rgba(130, 130, 130, 1);
font-size: 13px;
margin-left: 15px;  
margin-top: -4%;

}
.delivery{
  display: flex;
  justify-content:space-around;
  margin-left: 10px; 
  }
.delivery p {
    margin-right: 30px;
    color: black;
    font-weight: bold;
    font-size: 15px;
  }

.delivery span{
     margin-top: 8.2%;
     color: white;
     background-color: rgba(214, 54, 38, 1);
     font-size: 13px;
     text-align:center ;
     width: 52px;
     height: 10%;
     border-radius: 30px;

}


@media screen and (max-width: 431px){
  .main{
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-top: 10%;
  }
  .restaurant_body{
    display: none;
    
  }

  .restaurantCards{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 50px; 
    width: auto;
    margin-left: -5%;
  }
  .restaurants_card{
    background-color:rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 6px 8px  rgba(0, 0, 0, 0.25);
    width: 131px;
    height: 212px;
    text-align: center;
  
  }

  .restaurant_cardImage{
    width: auto;
   margin-right: 20%;
  }
  .restaurant_cardImage img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  
  }
.restaurants_Info{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .restaurants_Info h2{
  margin-right: 14px;
  font-size: 13px;
 
}

.restaurants_Info p{
color: rgba(130, 130, 130, 1);
font-size: 11px;
margin-right: 10px;  
margin-top: -10%;

}
.delivery{
    display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-top: -15%;
  }
.delivery p {
      margin-right: 10px;
      font-weight: bold;
      font-size: 15px;
    }
  
.delivery span{
       font-size: 13px;
       width: 120px;
       border-radius: 30px;
       margin-top: -6%;
       margin-right: 7%;
  
  }
  
}



















