@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


.main-restaurant {
  display: flex;
  font-family: Roboto;

}

/* Section (Sidebar) */
.restaurant_body {
  display: block;
  width: 100%;
  height: 898px;
  padding-inline: 20px;
  max-height: 650px;
  /* margin-right: 10%; */
  background-color: rgba(243, 244, 246, 1);
  margin-top: 12%;
  overflow-y: auto;
}

.restaurant_body::-webkit-scrollbar {
  width: 4px;
}

.restaurant_body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.restaurant_body::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.restaurant_body::-webkit-scrollbar-thumb:hover {
  background: #cc0000;
}






.restaurant_side {
  display: flex;
  /* height: 50px; */
  width: 190px;
  flex-direction: row;
  padding-block: 0px 3px;
  border-radius: 4px;
  margin-left: 10px;
  gap: 10px;
  cursor: pointer;
}

.restaurant_side:hover {

  background-color: rgba(214, 54, 38, 0.12);
  color: red;

}

.image {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: 15px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.restaurant_side span {
  font-family: Mukta;
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 20px;

}



/* Section (Restaurant) */

/* ::-webkit-scrollbar {
  width: 4px; 
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000; 
  border-radius: 10px; 
} */

.restaurantCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-height: 600px;
  margin-right: 0;
  margin-top: 1.9%;
  margin-bottom: 10%;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 20px;
}


.restaurantCards a {
  text-decoration: none;
}

.restaurantCards::-webkit-scrollbar {
  width: 4px;
}

.restaurantCards::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.restaurantCards::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.restaurantCards::-webkit-scrollbar-thumb:hover {
  background: #cc0000;
}

.restaurants_card {
  width: 75%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin-left: 22%;
  margin-top: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.09s ease-in-out;
}

.restaurants_card:hover {
  transform: scale(1.09);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

.newlist {
  display: block;
  position: absolute;
  width: 2%;
  top: 17.2%;
  left: 39.8%;
  background-color: rgba(214, 54, 38, 1);
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  z-index: 1;
}

.restaurant_cardImage {
  width: 150px;
  height: 100px;
  /* margin-left: 26%; */
  padding: 10px 0;
  object-fit: cover;
}

.restaurant_cardImage img {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  object-fit: fill;
}

.restaurants_Info {
  display: flex;
  flex-direction: column;

}

.restaurants_Info h2 {
  /* margin-left: 10%; */
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;

}

.restaurants_Info p {
  color: rgba(130, 130, 130, 1);
  font-size: 13px;
  /* margin-left: 10%; */
  margin-top: -4%;

}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 5%; */

}

.delivery p {
  width: 105px;
  margin-right: 10%;
  color: #4F4F4F;
  font-weight: bold;
  font-size: 15px;
}

.delivery span {
  /* margin-top: 7.4%; */
  margin-right: 5%;
  color: white;
  background-color: rgba(214, 54, 38, 1);
  font-size: 13px;
  text-align: center;
  padding: 5px;
  width: 52px;
  /* height: 13%; */
  border-radius: 30px;

}

/* Filter part in Responsive  */

.filterhamburger {
  display: flex;
  flex-direction: column;
  display: none;
}


@media screen and (max-width: 431px) {
  .main-restaurant {
    display: flex;
    flex-direction: column;
    height: 200%;
    margin-top: 10%;
  }

  .restaurant_body {
    display: none;
  }

  .restaurantCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    overflow: hidden;
    overflow-y: auto;
    gap: 10px;
    margin-right: 2.7%;
    padding: 10px 10px 12px 15px;


  }

  .restaurants_card::-webkit-scrollbar {
    width: 2px;
  }

  .restaurants_card {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
    width: 131px;
    height: 212px;
    text-align: center;
    margin-left: 15%;
  }

  .newlist {
    display: none;
  }

  .restaurant_cardImage {
    width: auto;
    /* margin-right: 20%; */
    margin-top: 3%;
  }

  .restaurant_cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .restaurants_Info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .restaurants_Info h2 {
    margin-right: 14px;
    font-size: 13px;
    font-weight: bold;
  }

  .restaurants_Info p {
    color: rgba(130, 130, 130, 1);
    font-size: 11px;
    margin-right: 13px;
    margin-top: -3%;
  }

  .delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    margin-top: -10%;
    margin-bottom: 3%;

  }

  .delivery p {
    margin: 0;
    /* margin-right: 10px; */
    font-weight: bold;
    font-size: 12px;
  }

  .delivery span {
    margin: 0;
    font-size: 13px;
    width: 100px;
    border-radius: 30px;
    /* margin-top: -10%; */
    /* margin-right: 5%; */
    padding: 1px 1px 2px 1px;
  }

  .filterhamburger {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin-top: -6%;
    margin-left: 5%;
    width: 400px;
    height: 100px;
    overflow-x: hidden;
  }

  .filterHead {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 1);
    padding: 0px 1px 0px 0px;
    cursor: pointer;
    margin: 0;
    margin-left: -10px;
  }

  .filterIcon img {
    width: 35px;
    height: 35px;
    margin-left: 8rem;
    margin-top: 5%;
  }

  .filterHead p {
    margin-right: 38%;
    font-size: 25px;
    font-weight: bold;
    margin-top: 3%;
    font-family: Roboto;
  }

  .filterMenuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filterMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 430px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    max-height: 60vh;
    padding: 0px 11px 0px 1px;

  }

  .filterDelete {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: larger;
    border: 2px solid #ccc;
    background-color: rgba(255, 255, 255, 1);
    color: #ccc;
    margin-top: 5%;
    margin-left: 2%;
    cursor: pointer;
  }

  .menuList {
    margin-top: 10px;
    width: 100%;
    max-height: 40vh;
    overflow-x: auto;
  }

  .menuList::-webkit-scrollbar {
    /* width: 3px; */
    height: 3px;

  }

  .menuList::-webkit-scrollbar-track {
    background: #FFFFFF;
  }

  .menuList::-webkit-scrollbar-thumb {
    background: #D63626;

  }



  .menuList li {
    width: 100%;
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    /* padding: 0px 25px;  */
    border-bottom: 0.1px solid #ccc;
    cursor: pointer;
    overflow-y: auto;
  }

  .menuList li::-webkit-scrollbar {
    width: 5px;
    background: red;
  }

  .menuList li::-webkit-scrollbar-thumb {
    background-color: transparent;
  }



}