@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


.main{
  display: flex;
  font-family: Roboto;

}
                                                             /* Section (Sidebar) */ 
.restaurant_body{
  display: block;
  width: 120%;
  max-height: 650px;
  margin-right: 10%;
  background-color: rgba(243, 244, 246, 1);
  margin-top: 12%;
  overflow-y: auto;
}
.restaurant_body::-webkit-scrollbar {
  width: 4px; 
}

.restaurant_body::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

.restaurant_body::-webkit-scrollbar-thumb {
  background:red; 
  border-radius: 10px; 
}

.restaurant_body::-webkit-scrollbar-thumb:hover {
  background: #cc0000; 
}
                                                             


.restaurant_side{
display: flex;
flex-direction: row;
padding-block: 0px 10px ;

}
.restaurant_side:hover{
  background-color: rgba(214, 54, 38, 0.12);
  color: red;

}
.image{
    width: 40px;
    height: 40px;
    margin-left: 40px;
    margin-top: 15px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.restaurant_side span{
font-family: Mukta;
font-size: 20px;
font-weight: 600;
margin-left: 20px;
margin-top: 20px;

}



                                                          /* Section (Restaurant) */
                                                        
/* ::-webkit-scrollbar {
  width: 4px; 
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000; 
  border-radius: 10px; 
} */

.restaurantCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 600px;
    margin-left: 4%;
    margin-top: 1.9%;
    overflow-y: auto;
    gap: 40px;}
    

.restaurantCards a {
  text-decoration: none;
}
.restaurantCards::-webkit-scrollbar {
  width: 4px; 
}
.restaurantCards::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

.restaurantCards::-webkit-scrollbar-thumb {
  background:red; 
  border-radius: 10px; 
}
.restaurantCards::-webkit-scrollbar-thumb:hover {
  background: #cc0000; 
}
.restaurants_card{
  width:75%;
  height:88%;
  background-color:rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10%;
  margin-top: 1.5%;
}
.newlist {
  display: block;
  position: absolute;
  width:2% ;
  top: 17.2%;
  left: 40.5%;
  background-color:rgba(214, 54, 38, 1);
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  z-index: 1;
}

.restaurant_cardImage{
  width: 50%;
  margin-left: 26%;
}
.restaurant_cardImage img {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  object-fit: fill;
}
.restaurants_Info{
  display: flex;
  flex-direction: column;

}
.restaurants_Info h2{
  margin-left: 10%;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
 
}

.restaurants_Info p{
color: rgba(130, 130, 130, 1);
font-size: 13px;
margin-left: 10%; 
margin-top: -4%;

}
.delivery{
  display: flex;
  justify-content:space-between;
  margin-top: 5%;

  }
  
.delivery p {
    margin-left: 10%;
    color: black;
    font-weight: bold;
    font-size: 15px;
  }

.delivery span{
     margin-top: 4%;
     margin-right: 12%;
     color: white;
     background-color: rgba(214, 54, 38, 1);
     font-size: 13px;
     text-align:center ;
     width: 52px;
     height: 13%;
     border-radius: 30px;

}

                                                              /* Filter part in Responsive  */

.filterhamburger{
  display: flex;
  flex-direction: column;
  display: none;
}
@media screen and (max-width: 1440px){
  .newlist{
    top: 15%;
    left: 41.49%;
  }
}

@media screen and (max-width: 431px) {
  .main {
    display: flex;
    flex-direction: column;
    height: 200%;
    margin-top: 10%;
  }

  .restaurant_body {
    display: none;
  }

  .restaurantCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    overflow:hidden;
    overflow-y: auto;
    gap: 10px;
    margin-right: 2.7%;
    
  }
  .restaurants_card::-webkit-scrollbar {
    width: 2px; 
  }
  .restaurants_card{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
    width: 131px;
    height: 212px;
    text-align: center;
    margin-left: 15%;
  }
  .newlist {
    display: none;
  }

  .restaurant_cardImage {
    width: auto;
    margin-right: 20%;
    margin-top: 3%;
  }

  .restaurant_cardImage img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .restaurants_Info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .restaurants_Info h2 {
    margin-right: 14px;
    font-size: 13px;
    font-weight: bold;
  }

  .restaurants_Info p {
    color: rgba(130, 130, 130, 1);
    font-size: 11px;
    margin-right: 13px;
    margin-top: -3%;
  }

  .delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -5%;
    margin-left: 10%;
  }

  .delivery p {
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
  }

  .delivery span {
    font-size: 13px;
    width: 120px;
    border-radius: 30px;
    margin-top: -6%;
    margin-right: 7%;
  }
  .filterhamburger {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin-left: 1%;
    margin-top: -6%;
  }
  
  .filterHead {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.15);
    width: 400px;
    margin-left: 3%;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer; 
    margin-top: -3%;
  }
  
  .filterIcon img {
    width: 25px;
    height: 25px;
    margin-left: 9rem;
    margin-top: 5%;
  }
  
  .filterHead p {
    margin-right: 40%;
    font-size: 19px;
    font-weight: bold;
    margin-top: 3%;
  }
  
  .filterMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 430px;
    position: fixed; 
    bottom: 0; 
    left: 0;
    z-index: 1000; 
    max-height: 60vh; 
    overflow-y: auto; 
  }
  .filterMenu::-webkit-scrollbar {
    width: 2px;
  }
  
  .filterMenu::-webkit-scrollbar-thumb {
    background:red;
    border-radius: 3px;
  }
  
  .filterMenu::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); 
  }
  .filterDelete {
    border-radius: 50%;
    width: 30px;
    height: 100px;
    font-size: larger;
    border: 2px solid #ccc;
    background-color: rgba(255, 255, 255, 1);
    color:#ccc;
    margin-top: 5%;
    margin-left: 2%;
    cursor: pointer; 
  }
  
  .menuList {
    margin-top: 10px; 
    width: 100%; 
  }
  
  .menuList li {
    width: 100%;
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 10px; 
    border-bottom: 0.1px solid #ccc;;
  }
  
  
}













