@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


                                                           /* Profile part */
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: Roboto;
    margin-top: 0.5%;
    
}
.profileImg{
    width:60%;
    margin-left: 300px;

}
.profileImg img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.information{
    display: flex;
   justify-content: space-between;
   
}
.restaurantsbutton{
    display: flex;
    flex-direction: row;
    margin-top: -2%;
}
.restaurantName{
    margin-left: 40px;
}
.productName{
    color:rgba(130, 130, 130, 1);
    font-family: 14px;
}
.productName p{
font-size: 10px;
font-weight: 500;
text-align: left;

}
.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 17px;
    margin-left: 100px;
    gap: 20px;
   
}
.delbtn{
    border: 1px solid rgba(214, 54, 38, 1);
    border-radius: 5px;
    background-color: white;
    color: rgba(214, 54, 38, 1);
    width: 72px;
    height: 52px;
}
.backbtn{
    background-color:rgba(214, 54, 38, 1) ;
    border: 0;
    border-radius: 5px;
    width: 72px;
    height: 52px;
    display: block;
}
.backbtn a{
    text-decoration: none;
    color: white;
}






                                                                            /* Products part */


.restaurantsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    width: 50%;
    height: 600px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 1%;
    font-family: Roboto, sans-serif;
    overflow: auto;
    background-color: rgba(243, 244, 246, 1);
    overflow-y: auto; 
}

.restaurantsContainer::-webkit-scrollbar {
    background-color: red;
    width: 3px; 
  }
  
.restaurantsContainer::-webkit-scrollbar-track {
    background: transparent; 
  }
  
.restaurantsContainer h3{
    display: block;
    text-align: center;
    margin-top: 40px;
    font-size: 23px;
}
.productItem{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 2%;
    padding: 0px 20px 20px 0px;

 
}
.productImg{
    margin-left: 58px;
    display: block;
}
.productImg img{
    width: 40px;
    margin-top: 40px;

}
.productImg img:hover{
    width: 100px;
}


.restaurantsInfo{
    margin-left: 30px;

}
.restaurantsInfo h4{
    margin-top: 40px;
    font-size: 15px;
}
.restaurantsInfo p{
    margin-top: -20px;
    color: rgba(130, 130, 130, 1);
    font-size: 12px;
}
.price{
    display: flex;
    gap: 15px;
    margin-top: 50px;
    margin-left: 70px;
}
.price span {
    color: rgba(130, 130, 130, 1);
    font-size: 10px;
    display: block;
}
.price p{
    color: black;
    font-size: 15px;
    margin-right: 20px;
    margin-top: -2.5%;
    font-weight: bold;
}
.circlebtn{
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: -5px;
    border-radius: 50%;
    border: 1.5px solid rgba(189, 189, 189, 1);
    background-color:rgba(243, 244, 246, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgba(189, 189, 189, 1);
}

.circlebtn:hover{
    background: rgba(111, 207, 151, 1);
    color: white;

}

                                                                  /* Basket part */
.restaurants_user{
    display: flex;
    justify-content: space-between;
}
.restaurants_basket{
display: block;
margin-top: 2.5%;
margin-right: 10%;
width: 30%;
height:100%;
border-radius: 1% ;
background-color: rgba(243, 244, 246, 1);
box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
overflow-y: auto;

}
.restaurants_basket::-webkit-scrollbar {
    width: 3px;
    background-color: red;
 
  }
.restaurants_basket::-webkit-scrollbar-track {
    background: transparent; 
  }
.restaurants_nav{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 4%;
}
.bskt_image{
    width: 25px;
    height: 25px;

}
.bskt_image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.bskt_num{
    margin-top: -8px;
    margin-left: 15px;
    color: rgba(214, 54, 38, 1);
    font-family: Roboto;
    font-weight: 500;
}
.restaurants_common{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.restaurants_common a{
    text-decoration: none;
}

.restaurants_text{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}
.restaurants_image img {
    width:45px;
    height: 45px;
    margin-left: 40%;
    object-fit: fill;
}
.restaurants_info{
display: flex;
flex-direction: column;
margin-left: 10%;
margin-top: -2.6%;
font-family: Roboto;
}
.restaurants_info p{
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.restaurants_info span{
    font-size: 12px;
}

.restaurants_price{
    margin-left: 10%;
    margin-top: -4%;
    width: 20%;
   
}
.trash{
    margin-left: 52%;
}
.quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 10%;
    margin-top: -15%;
    font-weight: 500;
    font-family: Roboto;
    border-radius:30%;
    width: 40%;

}
.plus{
    margin-top: 10.2%;
}

.check_btn{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 2.5%;
    margin-bottom: 15px;
    border-radius: 100px;
    width: 95%;
    background-color: rgba(214, 54, 38, 1);
    font-family: Roboto;
}
.check_btn p{
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-left: 4.5%;
    margin-top: 3.5%;
    
}

.check_btn span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    background-color: white;
    margin-right: 3%;
    margin-top: 1.2%;
    margin-bottom: 1.2%;
    width: 40%;
    height: 40px;
    border-radius: 100px;
    color: black;

}

                                                             /* Empty basket */

.emptyBasket{
    display: flex;
    flex-direction: column;
    height:auto;
    display: block;
}
.emptyBasket a{
    text-decoration: none;
}
.emptyNav{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 4%;

}
.emptyNav img{
    width: 25px;
    height: 25px;
    object-fit: fill;

}
.emptyNav span{
    margin-top: 5px;
    margin-left: 10px;
    color: rgba(189, 189, 189, 1);
    font-family: Roboto;
    font-weight: 500;
}
.emptyImage img  {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
.emptydescription p{
    font-family: Roboto;
    color: rgba(189, 189, 189, 1);
    font-size: 30px;
    text-align: center;
    margin-bottom: 10%;

}
.emptycheck_btn{
    display: flex;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-bottom: 15px;
    border-radius: 100px;
    width: 95%;
    background-color:  rgba(189, 189, 189, 1);

}
.emptycheck_btn p{
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    margin-left: 4.5%;
    margin-top: 3.5%;
}
.emptycheck_btn span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    background-color: white;
    color: rgba(189, 189, 189, 1) ;
    margin-right: 3%;
    margin-top: 1.2%;
    margin-bottom: 1.2%;
    width: 40%;
    height: 40px;
    border-radius: 100px;

}


.ResponsivBasket{
    display: none;
}


@media screen and (max-width: 431px) {
    .internalMain{
        width: 430px;
    }
                                                                     
    .profile {
        margin-top: 1%;
        margin-right: 5%;
        width: auto;
    }

    .profileImg {
        width: 100%;
        margin: 10px auto;
    }
    
    .profileImg img {
        width: 100%;
        height: auto;
        object-fit: fill;
        margin-left: 7%;
    }

    .information{
        display: flex;
        flex-direction: column;
       
    }
    .restaurantName{
        margin-left: 40px;
    }
    .restaurantName h3{
        margin-top: -2%;
    }
    .restaurantName p{
        margin-top: -4%;
    }
    .productName{
        color:rgba(130, 130, 130, 1);
        font-family: 14px;
    }
    .productName p{
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    margin-top: -10%;
    
    }
    .restaurantsbutton{
      display: flex;
      justify-content: space-between;
      margin-left: 10%;
       
    }
    .buttons{
        display: flex;
        flex-direction: row;
        margin-right: 10px;;
        margin-top: 5%;
       
    }
    .delbtn{
        border: 1px solid rgba(214, 54, 38, 1);
        border-radius: 5px;
        background-color: white;
        color: rgba(214, 54, 38, 1);
        width: 72px;
        height: 52px;
    }
    .restaurants_user{
        display: flex;
        justify-content: center;
        margin-right: 0%;
    }
    .restaurantsContainer {
        width: auto;
        height: auto;
        margin-top: 15px;
        margin-right: 3%;
        overflow-y:visible;
    }
    .restaurantsContainer::-webkit-scrollbar {
        background-color:transparent;
        width: 3px; 
      }
      
     .price{
        display: flex;
        flex-direction: row;
        
     }
    .circlebtn {
        width: 25px;
        height: 25px;
        margin-right: 10%;
        
    }

    .price p {
        display: block;
        margin-left: 10%;
    }
    .productItem{
        margin-left: -5%;
        padding: 0;
        width: 430px;
        height: 150px;
    }
    .restaurantsInfo {
        display: flex;
        flex-direction: column;
        margin-right: -70px;
      
    }

    .restaurantsInfo h4 {
        width: 140px;
        font-size: 14px;
        margin-left: 4%;
      
    }

    .restaurantsInfo p {
        font-size: 12px;
        width: 180px;
        margin-top:-11px;
        margin-left: 4%;
    }
                                                                /* Responsivde olmayanlar */
    .productImg {
        display: none;
    }

    .price span {
        display: none;
    }

    .restaurants_basket {
        display: none;
    }

    .restaurantsContainer h3 {
        display: none;
    }

    .emptyBasket {
        display: none;
    }

    .backbtn {
        display: none;
    }
  
}